<div style="position: relative; padding: 25px;">
  <div>{{data.id}}</div>
  <h2>
    <span>{{data.Salutation}}</span>
    <span>{{data.ScreenName}}</span>
  </h2>
  <div style="display: inline-block; ">
    <p>Full Name: {{data.FirstName}} {{data.MiddleName}}</p>
    <p>Email: {{data.Email}}</p>
    <p>Gender: {{data.Gender}}</p>
    <p>Address: {{data.Address}}</p>
    <p>Roll: {{data.UserType}}</p>

  </div>
  <div style="display: inline-block; width: 60%; position: absolute; right: 10px; top:10px; ">
    <img src="{{data.UserPhoto}}" alt="" srcset="" style="height: 200px; width: 150px;">
  </div>
</div>